<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sws="http://www.springframework.org/schema/web-services"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/web-services
http://www.springframework.org/schema/web-services/web-services-2.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="depositService" class="org.easymock.EasyMock" factory-method="createMock">
        <constructor-arg value="com.brest.bank.service.BankDepositService"/>
    </bean>

    <bean id="depositorService" class="org.easymock.EasyMock" factory-method="createMock">
        <constructor-arg value="com.brest.bank.service.BankDepositorService"/>
    </bean>

    <context:component-scan base-package="com.brest.bank.soap"/>

    <sws:annotation-driven />

</beans>