<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>BankDepositServlet</servlet-name>
        <servlet-class>com.brest.bank.web.BankDepositServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>BankDepositServlet</servlet-name>
        <url-pattern>/deposit/depositList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BankDepositInputServlet</servlet-name>
        <servlet-class>com.brest.bank.web.BankDepositInputServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BankDepositInputServlet</servlet-name>
        <url-pattern>/deposit/inputDeposit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BankDepositDeleteServlet</servlet-name>
        <servlet-class>com.brest.bank.web.BankDepositDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BankDepositDeleteServlet</servlet-name>
        <url-pattern>/deposit/deleteDeposit</url-pattern>
    </servlet-mapping>

</web-app>
