<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:sws="http://www.springframework.org/schema/web-services"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/web-services
         http://www.springframework.org/schema/web-services/web-services-2.0.xsd">

    <sws:annotation-driven />

    <mvc:resources mapping="/resources/**" location="/resources/" />

    <context:component-scan base-package="com.brest.bank"/>

    <!-- Add automatic WSDL generation support -->
    <bean id="soapService" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition" lazy-init="true">
        <property name="schema" ref="schema" />
        <property name="portTypeName" value="soapService" />
        <property name="locationUri" value="/soap" />
        <property name="targetNamespace" value="http://localhost:8080/SpringHibernateBDeposit-1.0/soap/soapService" />
    </bean>

    <bean id="schema" class="org.springframework.xml.xsd.SimpleXsdSchema">
        <property name="xsd" value="/schemas/bankDepositService.xsd" />
    </bean>
<!--
    <bean id="schema2" class="org.springframework.xml.xsd.SimpleXsdSchema">
        <property name="xsd" value="/schemas/bankDepositor.xsd" />
    </bean>


    <bean id="schemaCollection" class="org.springframework.xml.xsd.CommonsXsdSchemaCollection">
        <description>
            This bean wrap the messages.xsd (which imports types.xsd), and inlines them as a one.
        </description>
        <property name="xsds">
            <list>
                <value>/schemas/bankDeposit.xsd</value>
                <value>/schemas/bankDepositor.xsd</value>
            </list>
        </property>
        <property name="inline" value="true"/>
    </bean>
-->
</beans>